ul.boxText{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: auto;
  padding: 10px;
  height: 500px;
}
ul.boxText li{
  display: inline-block;
}
div#firstBoxText{
  float:left;
  width:40%;
 overflow:hidden;
}
div#firstBoxImage {
  margin-left: 700px;
  right:10px;
  top: auto;

}
div.secBox{
  margin-top: 5%;
}
div#secBoxText{
  margin-left: 700px;
  right:10px;
  top: auto;

}
div#secBoxImage {
  float:left;
  width:40%;
 overflow:hidden;

}
footer{

  height: 40px;
  color: white;
  text-align: center;
  background-color:#262C66;
}
